<h1 class="mt-3">Pipes<small> Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td> uppercase </td>
          <td> {{ nombre | uppercase }} </td>
          <td> Todo mayucusla </td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td> lowercase </td>
          <td> {{ nombre | lowercase }} </td>
          <td> Todo minuscula </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<h1 class="mt-3">Pipes<small> Slice</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>{{nombre}}</td>
          <td> slice:3 </td>
          <td> {{ nombre | slice:3 }} </td>
          <td> Corta los primeros 3 </td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td> slice:0:3 </td>
          <td> {{ nombre | slice:0:3 }} </td>
          <td> solo deja los primeros tres el resto los corta </td>
        </tr>
        <tr>
          <td>{{arreglo}}</td>
          <td> slice:1:5 </td>
          <td> {{ arreglo | slice:1:5 }} </td>
          <td> comienza a contarte desde 2 al 5 (no escoge el numero 1) </td>
        </tr>
      </tbody>

    </table>

    <h3> Slice *ngFor <small>slice:5:10</small> </h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let i of arreglo | slice:4:10"> {{i}} </li>
    </ul>

  </div>
</div>


<h1 class="mt-3">Pipes<small> Decimal</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>

      <tbody>
    

        <tr>
          <td>{{PI}}</td>
          <td> number </td>
          <td> {{ PI | number}} </td>
          <td> visualmente lo redondea </td>
        </tr>

        <tr>
          <td>{{PI}}</td>
          <td> number:'1.0-0' </td>
          <td> {{ PI | number:'1.0-0'}} </td>
          <td> si no quiero ningun decimal </td>
        </tr>

        <tr>
          <td>{{PI}}</td>
          <td> number:'3.0-0' </td>
          <td> {{ PI | number:'3.0-0'}} </td>
          <td> la tres primeras posiciones enteras, y si es menor rellenar con 0 </td>
        </tr>

        <tr>
          <td>{{PI}}</td>
          <td> number:'.0-2' </td>
          <td> {{ PI | number:'.0-2'}} </td>
          <td> dame los numero enteros , pero en la parte decimal que vaya de 0 hasta 2 </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>

<h1 class="mt-3">Pipes<small> Percent - Porcentaje</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>

      <tbody>
    

        <tr>
          <td>{{porcentaje}}</td>
          <td> percent </td>
          <td> {{ porcentaje | percent}} </td>
          <td> lo pasa a porcentaje </td>
        </tr>

        <tr>
          <td>{{porcentaje}}</td>
          <td> percent:'2.2-2' </td>
          <td> {{ porcentaje | percent:'2.2-2'}} </td>
          <td> lo pasa a porcentaje con los decimales </td>
        </tr>
       
      </tbody>

    </table>

  </div>
</div>


<h1 class="mt-3">Pipes<small> Currency - Mondea</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{salario}}</td>
          <td> currency </td>
          <td> {{ salario | currency}} </td>
          <td> lo pasa a salario con el simbolo de dolar </td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td> currency:'COP' </td>
          <td> {{ salario | currency:'COP'}} </td>
          <td> lo pasa a salario con el simbolo de colombia </td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td> currency:'EUR' </td>
          <td> {{ salario | currency:'EUR'}} </td>
          <td> lo pasa a salario con el simbolo de euro </td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td> currency:'CAD$ ' </td>
          <td> {{ salario | currency:'CAD$ '}} </td>
          <td> lo pasa a salario con el simbolo de canada</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td> currency:'CAD$ ':'symbol':'.0-0' </td>
          <td> {{ salario | currency:'CAD$ ':'symbol':'.0-0'}} </td>
          <td> lo pasa a salario con el simbolo de canada, y no pone los decimales, solo pasa los enteros</td>
        </tr>
     
      </tbody>
    </table>
  </div>
</div>
<br>
<!-- Json -->
<h3> JSON </h3>
<hr>
<div class="row">
  <div class="col">
    <pre>
      {{heroeJson | json}}
    </pre>
  </div>
</div>

<!-- Async -->
<h1 class="mt-3">Pipes<small> Async</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{valorPromesa}}</td>
          <td> async </td>
          <td> {{ valorPromesa| async }} </td>
          <td> se demora 4 segundos y medio despues , para resolverse (dice llego la dta)</td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>

      <!-- Date -->
<h1 class="mt-3">Pipes<small> Date - Fecha</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{fecha}}</td>
          <td> date </td>
          <td> {{ fecha| date }} </td>
          <td>llega la fecha actual</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td> date:'medium'  </td>
          <td> {{ fecha| date:'medium' }} </td>
          <td>llega la fecha y hora actual</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td> date:'short'  </td>
          <td> {{ fecha| date:'short' }} </td>
          <td>llega la fecha y hora actual</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td> date:'MMMM-dd':'':'en' </td>
          <td> {{ fecha| date:'MMMM-dd':'':'en' }} </td>
          <td>llega el mes y dia, y lo pase al ingles(en)</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td> date:'MMMM-dd':'':'es' </td>
          <td> {{ fecha| date:'MMMM-dd':'':'es' }} </td>
          <td>llega el mes y dia, y lo pase al español(es)</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td> date:'MMMM-dd':'':'fr' </td>
          <td> {{ fecha| date:'MMMM-dd':'':'fr' }} </td>
          <td>llega el mes y dia, y lo pase al frances(fr)</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td> date:'MMMM-dd':'':'{{idioma}}'
          <br>
          <button class=" btn btn-primary btn-sm" (click)="idioma='es'" style="margin: 1%;"> Español</button>
          <button class=" btn btn-secondary btn-sm" (click)="idioma='en'" style="margin: 1%;"> Inglés</button>
          <button class=" btn btn-success btn-sm" (click)="idioma='fr'" style="margin: 1%;"> Francés </button>
        </td>
          <td> {{ fecha| date:'MMMM-dd':'':idioma}} </td>
          <td>Cambiar de idioma</td>
        </tr>

      </tbody>
      </table>
      </div>
      </div>

      <!-- Async -->
<h1 class="mt-3">Pipes<small> Personalizados</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salidad</th>
          <th> Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre2}}</td>
          <td> Capitalizado </td>
          <td> {{ nombre2 }} </td>
          <td> pipes personalizado</td>
        </tr>
      </tbody>
      </table>
      </div>
      </div>